<form>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="name">
    </div>
    <div>
      <label for="plusOne">Plus One:</label>
      <select id="plusOne" name="plusOne" [(ngModel)]="plusOne">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <div>
      <label for="plusOneName">Name of Plus One:</label>
      <input type="text" id="plusOneName" name="plusOneName" [(ngModel)]="plusOneName">
    </div>
    <div>
      <label for="songSuggestion">Song Suggestion:</label>
      <input type="text" id="songSuggestion" name="songSuggestion" [(ngModel)]="songSuggestion">
    </div>
    <button type="submit" (click)="submitForm()">Submit</button>
  </form>
   