<!-- frontend/templates/all_rsvps.html -->
{% load static %}
{% include 'header.html' %}

    <style>
        body {
            font-family: Arial, sans-serif;
        }


        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>


		<article class="blog__article">
			<div class="blog__container">
				<div class="blog__header">
					<div class="blog__cata">17/10/2024</div>
					<h3 class="blog__single__title">Llanerch Vineyard</h3>
			 </div>
			</div>
      <div class="blog__container">

    <!-- Blog Page -->
	<div class="blog__single__page">
        <h2>All RSVPs</h2>
        
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Plus One</th>
                    <th>Plus One Name</th>
                    <th>Song Suggestion</th>
                </tr>
            </thead>
            <tbody>
                {% for rsvp in rsvps_data %}
                    <tr>
                        <td>{{ rsvp.id }}</td>
                        <td>{{ rsvp.name }}</td>
                        <td>{{ rsvp.plus_one }}</td>
                        <td>{{ rsvp.plus_one_name }}</td>
                        <td>{{ rsvp.song_suggestion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <hr>

		</article>
	</div>
	<!-- Blog Page end -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
	{% include 'footer.html' %}	
</html>
