<!-- frontend/templates/all_rsvps.html -->
{% load static %}
{% include 'header.html' %}

    <style>
        body {
            font-family: Arial, sans-serif;
        }


        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>


		<article class="blog__article">
			<div class="blog__container">
				<div class="blog__header">
					<h3 class="blog__single__title">RSVPs</h3>
			 </div>
			</div>
      <div class="blog__container">

    <!-- Blog Page -->
	<div class="blog__single__page">
        <h2>Day RSVPs - Current Total {{rsvp_count}}</h2>
        <table border="1">
            <caption>Day RSVP Results</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Attending?</th>
                    <th>Vegetarian?</th>
                    <th>Wine</th>
                    <th>Plus One</th>
                    <th>Plus One Name</th>
                    <th>Plus One Vegetarian?</th>
                    <th>Plus One Wine</th>
                    <th>Song Suggestion</th>
                </tr>
            </thead>
            <tbody>
                {% for rsvp in rsvps_data %}
                    <tr>
                        <td>{{ rsvp.id }}</td>
                        <td>{{ rsvp.name }}</td>
                        <td>{{ rsvp.attending }}</td>
                        <td>{{ rsvp.vegetarian }}</td>
                        <td>{{ rsvp.wine }}</td>
                        <td>{{ rsvp.plus_one }}</td>
                        <td>{{ rsvp.plus_one_name }}</td>
                        <td>{{ rsvp.plus_one_vegetarian }}</td>
                        <td>{{ rsvp.plus_one_wine }}</td>
                        <td>{{ rsvp.song_suggestion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <h2>Evening RSVPs</h2>
        
        <table border="1">
            <caption>Evening RSVP Responses</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Attending?</th>
                    <th>Plus One</th>
                    <th>Plus One Name</th>
                </tr>
            </thead>
            <tbody>
                {% for evening_rsvp in evening_rsvps_data %}
                    <tr>
                        <td>{{ evening_rsvp.id }}</td>
                        <td>{{ evening_rsvp.name }}</td>
                        <td>{{ evening_rsvp.attending }}</td>
                        <td>{{ evening_rsvp.plus_one }}</td>
                        <td>{{ evening_rsvp.plus_one_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <hr>

		</article>
	</div>
	<!-- Blog Page end -->

	{% include 'footer.html' %}	
</html>
