{% load static %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
</body>
<hr>
<div class="footer">
<center>"When I look at you, I can feel it. I look at you and I'm home." - Dory, Finding Nemo</center>
</div>
