<!-- frontend/templates/form.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bethan and Dan are getting married!!!!</title>
	<!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
	

	<!-- Main Stylesheets -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
    <!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

    <!-- Header Section -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 order-2 order-sm-1">
					<div class="header__social">
					</div>
				</div>
				<div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
					<a href="./index.html" class="site-logo">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="col-sm-4 col-md-3 order-3 order-sm-3">
					<div class="header__switches">
					</div>
				</div>
			</div>
			<nav class="main__menu">
				<ul class="nav__menu">
					<h3>The Marriage of</h3>
					<h1>Bethan & Daniel</h1>
					<h3>Llanerch Vineyard</h3>
					<h4>17/10/2024</h4>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header Section end -->

    <!-- Blog Page -->
	<div class="blog__single__page">
		<div class="blog__slider">
			<div class="blog__slider__item">
				<img src="{% static 'img/1.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/2.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/3.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/4.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/5.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/6.jpeg' %}" alt="">
			</div>
		</div>
		<article class="blog__article">
			<div class="blog__container">
				<div class="blog__header">
					<div class="blog__cata">17/10/2024</div>
					<h3 class="blog__single__title">Llanerch Vineyard</h3>
			 </div>
			</div>
      <div class="blog__container">
               
			</blockquote>
			<div class="blog_item">
				<p>Bethan and Daniel are delighted to invite you to attend their wedding. Kindly note that our celebration will be exclusively for adults (except for very close family). We appriciate your understanding and hope you'll join us in celebrating this special day with joy and style!</p>
				<h4>Please RSVP using the form below:</h4>
<form class="form-horizontal" id="submitForm" method="post" action="{% url 'submit_data' %}">
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-10">
      <input type="text" id="name" name="name" required>
    </div>
  </div> 
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="plus_one">Plus One:</label>
    <div class="col-sm-10">
      <select class="selectpicker" id="plus_one" name="plus_one" required>
        <option value="No">No</option>
        <option value ="Yes">Yes</option>
      </select>
    </div>
  </div>  
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="plus_one_name">Plus One Name:</label>
    <div class="col-sm-10">
      <input type="text" id="plus_one_name" name="plus_one_name" required disabled>
    </div>
  </div>
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="song_suggestion">Song Suggestion:</label      >
    <div class="col-sm-10">
      <input type="text" id="song_suggestion" name="song_suggestion" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<div class="blog_item">
	<p>Information on the schedule of the day and venue details can be found <a href="/success/">here. </a>
		</article>
	</div>
	<!-- Blog Page end -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
