<!-- frontend/templates/form.html -->

{% load static %}

{% include 'header.html' %}


		<article class="blog__article">
			<div class="blog__container">
				<div class="blog__header">
					<div class="blog__cata">17/10/2024</div>
					<h3 class="blog__single__title">Llanerch Vineyard</h3>
			 </div>
			</div>
      <div class="blog__container">
               
			</blockquote>
			<div class="blog_item">
				<p>Bethan and Daniel are delighted to invite you to attend their wedding. Kindly note that our celebration will be exclusively for adults (except for very close family). We appriciate your understanding and hope you'll join us in celebrating this special day with joy and style!</p>
				<h4>Please RSVP using the form below:</h4>
<form class="form-horizontal" id="submitForm" method="post" action="{% url 'submit_data' %}">
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-10">
      <input type="text" id="name" name="name" required>
    </div>
  </div> 
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="plus_one">Plus One:</label>
    <div class="col-sm-10">
      <select class="selectpicker" id="plus_one" name="plus_one" required>
        <option value="No">No</option>
        <option value ="Yes">Yes</option>
      </select>
    </div>
  </div>  
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="plus_one_name">Plus One Name:</label>
    <div class="col-sm-10">
      <input type="text" id="plus_one_name" name="plus_one_name" required disabled>
    </div>
  </div>
  <div class="row mb-3">
    <label class="control-label col-sm-2" for="song_suggestion">Song Suggestion:</label      >
    <div class="col-sm-10">
      <input type="text" id="song_suggestion" name="song_suggestion" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<div class="blog_item">
	<p>Information on the schedule of the day and venue details can be found <a href="/success/">here. </a>
		</article>
	</div>
	<!-- Blog Page end -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
	{% include 'footer.html' %}	
</html>
