<!-- frontend/templates/form.html -->

{% load static %}

{% include 'header.html' %}


		<article class="blog__article">
			<div class="blog__container">
				<div class="blog__header">
					<div class="blog__cata"><h4 id="countdown">Loading countdown...</h4></div>
					<h3 class="blog__single__title">Llanerch Vineyard</h3>
			 </div>
			</div>
      <div class="blog__container">
               
			</blockquote>
			<div class="blog_item">
				<p>Bethan and Daniel are delighted to invite you to attend their wedding. Kindly note that our celebration will be exclusively for adults (except for very close family). We appriciate your understanding and hope you'll join us in celebrating this special day with joy and style!</p>
				
        <div class="form-container">
        <form class="form-horizontal" id="submitForm" method="post" action="{% url 'submit_data' %}">
          <h4>Please RSVP using the form below:</h4> 
  <div class="row mb-3">
    <div class="col-sm-10">
      <input class="form-control" text" id="name" name="name" placeholder="Name" required >
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
        <select class="form-control" id="attending" name="attending" required >
          <option value="No">No, unfortunately I will not be attending</option>
          <option value ="Yes">Yes, I will be attending</option>
        </select>
     </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <select class="form-control" id="plus_one" name="plus_one" required width="50" >
        <option value="No">No, I will not be bringing a plus one</option>
        <option value ="Yes">Yes, I will be bringing a plus one</option>
      </select>
      </div>
    </div>
  <div class="row mb-3">
    <div class="col-sm-10">
        <input type="text" id="plus_one_name" name="plus_one_name" placeholder="Plus One's Name" class="form-control" required disabled>
     </div> 
  </div>
  Please let us know if you require a vegetarian meal.
  <div class="row mb-3">
      <div class="col-sm-10">
          <select class="form-control" id="vegetarian" name="vegetarian" required>
            <option value="No">No, I do not require a vegetarian option</option>
            <option value ="Yes">Yes, I require a vegetarian option</option>
        </select>
      </div>
    </div>
  <div class="row mb-3">
      <div class="col-sm-10">
        <select class="form-control" id="plus_one_vegetarian" name="plus_one_vegetarian" required>
          <option value="No">No, my plus one does not require a vegitarian option</option>
          <option value ="Yes">Yes, my plus one does require a vegetarian option</option>
        </select> 
      </div>
    </div>
    Please suggest a song you'd like to hear the DJ play
    <div class="row mb-3">
    <div class="col-sm-10">
      <input type="text" id="song_suggestion" name="song_suggestion" placeholder="Artist and Song" class="form-control" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<hr>
<div class="blog_item">
	<p>Information on the schedule of the day and venue details can be found <a href="/success/">here. </a>
		</article>
	</div>
	<!-- Blog Page end -->

	{% include 'footer.html' %}	
</html>
