{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bethan and Dan are getting married!!!!</title>
	<!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

	

	<!-- Main Stylesheets -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
    <!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

    <!-- Header Section -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 order-2 order-sm-1">
					<div class="header__social">
					<h5>Bethan's Contact Details</h5>
						<a href="tel:+447825735567"><i class="fa fa-phone" aria-hidden="true"></i></a>
						<a href="mailto:bpri@hotmail.co.uk?subject=Wedding RSVP&&cc=dangahan@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						<a href="https://wa.me/447825735567"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/bethan_in_squares/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
					<a href="./index.html" class="site-logo">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="col-sm-4 col-md-3 order-3 order-sm-3">
					<div class="header__switches">
						<h5>Dan's Contact Details</h5>
						<a href="tel:+447540497276"><i class="fa fa-phone" aria-hidden="true"></i></a>
						<a href="mailto:dangahan@gmail.com?subject=Wedding RSVP&&cc=bpri@hotmail.co.uk"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						<a href="https://wa.me/447540497276"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/dangahan/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<nav class="main__menu">
				<ul class="nav__menu">
					<h1>Bethan & Daniel</h1>
					<h3>Invite you to join them</h3>
					<h2>to Celebrate their Marriage</h2>
					<h2>Thursday 17th October 2024</h2>
					<h3>at Llanerch Vineyard</h3>				
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header Section end -->

    <!-- Blog Page -->
	<div class="blog__single__page">
		<div class="blog__slider">
			<div class="blog__slider__item">
				<img src="{% static 'img/1.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/2.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/3.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/4.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/5.jpeg' %}" alt="">
			</div>
			<div class="blog__slider__item">
				<img src="{% static 'img/6.jpeg' %}" alt="">
			</div>
		</div>