<!-- frontend/templates/success.html -->

{% load static %}

{% include 'header.html' %}
      <div class="blog__container">
			</blockquote>
			<div class="blog_item">
              <p><b>{% if success_message %}
				{{ success_message }}</p>
			{% endif %}</b></p>
            <h2><i class="fa fa-clock-o"></i> Key Times</h2>
        <h4>The key times throghout the day are listed below:</h4>

            <div class="container">
                <div class="row">
                    <div class="timeline-centered">
                        <article class="timeline-entry">
                            <div class="timeline-entry-inner">
                                <time class="timeline-time" datetime="2024-17-10T12:30"><span>12:30</span><span></span></time>
                                <div class="timeline-icon bg-secondary">
                                </div>
                                <div class="timeline-label">
                                    <h2>Guests arrive</h2>
                                </div>
                            </div>
                        </article>
                        <article class="timeline-entry left-aligned">
                            <div class="timeline-entry-inner">
                                <time class="timeline-time" datetime="2024-17-10T13:00"><span>13:00</span> <span></span></time>
                                    <div class="timeline-icon bg-secondary">
                                    </div>
                                    <div class="timeline-label">
                                        <h2>Wedding Ceremony Commences</h2>
                                    </div>
                            </div>
                        </article>
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2024-17-10T14:00"><span>14:00</span> <span></span></time>
                                <div class="timeline-icon bg-secondary">
                                </div>
                            <div class="timeline-label">
                                <h2>Drinks reception and appetizers</h2>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry left-aligned">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2024-17-10T16:30"><span>16:30</span> <span></span></time>
                                <div class="timeline-icon bg-secondary">
                                </div>
                            <div class="timeline-label">
                                <h2>Speeches</h2>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2024-17-10T17:00"><span>17:00</span> <span></span></time>
                                <div class="timeline-icon bg-secondary">
                                </div>
                            <div class="timeline-label">
                                <h2>Wedding Breakfast</h2>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry left-aligned">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2024-17-10T19:00"><span>19:00</span> <span></span></time>
                                <div class="timeline-icon bg-secondary">
                                </div>
                            <div class="timeline-label">
                                <h2>Evening Guests arrive and Evening Entertainment begins</h2>
                            </div>
                        </div>
                    </article> 
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time" datetime="2024-18-10T17:00"><span>00:00</span> <span></span></time>
                                <div class="timeline-icon bg-secondary">
                                </div>
                            <div class="timeline-label">
                                <h2>Evening Ends</h2>
                            </div>
                        </div>
                    </article> 
                </div>
            </div>
            </div>
            
            <h2><i class="fa fa-map-pin"></i> Location</h2>
            <p>
            <h4>Llanerch Vineyard Hotel, Hensol Rd, Hensol, Pontyclun CF72 8GG. </h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.307034270037!2d-3.372419422950784!3d51.50758287181337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e11a05e2f6835%3A0x770009829cf6abaf!2sLlanerch%20Vineyard%20Hotel!5e0!3m2!1sen!2suk!4v1705324052022!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h2><i class="fa fa-bed"></i> Accommodation</h2>
            <h4>
            Please contact the venue direct on 01443 222716 if you wish to book accomodation. Alternativly you can book via the <a href="https://llanerch.co.uk">Llanerch website.</a>
            <br>
            </h4>
            <h2><i class="fa fa-black-tie"></i> Dress Code</h2>
            <h4>
            Smart casual, with an emphasis on relaxed. Ties very much optional. 
            <br>
            </h4>
            <h2><i class="fa fa-child"></i>Children</h2>
            <h4>
            Kindly note that our celebration will be exclusively for adults (except for very close family). We appreciate  your understanding and hope you'll join us in celebrating this special day with joy and style!
            <br>
            </h4>
            <h2><i class="fa fa-gift"></i> Gifts</h2>
            <h4>
            Enter details about gifts here.
            <br>
            </h4>
        </div>
	<!-- Blog Page end -->

	{% include 'footer.html' %}	
</html>
