<!-- frontend/templates/success.html -->

{% load static %}

{% include 'header.html' %}
      <div class="blog__container">
			</blockquote>
			<div class="blog_item">
              <p><b>{% if success_message %}
				{{ success_message }}</p>
			{% endif %}</b></p>
            <h2><i class="fa fa-clock-o"></i> Key Times</h2>
        <h3>The key times throghout the day are listed below:</h4></br>
        <ul style="font-size:4em">
            <li>Guests Arrive: 12:30</li>
            <li>Wedding Ceremony: 13:30</li>
            <li>Drinks Reception: 14:00</li>
            <li>Speeches: 16:00</li>
            <li>Wedding Breakfast: 17:00</li>
            <li>Evening Reception: 19:00</li>
            <li>Evening End: 01:00</li>
        </ul>
    </br> 
            
            <h2><i class="fa fa-map-pin"></i> Location</h2></br>
            <p>
            <h3>Llanerch Vineyard Hotel, Hensol Rd, Hensol, Pontyclun CF72 8GG. </h3></br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.307034270037!2d-3.372419422950784!3d51.50758287181337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e11a05e2f6835%3A0x770009829cf6abaf!2sLlanerch%20Vineyard%20Hotel!5e0!3m2!1sen!2suk!4v1705324052022!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Google Maps iFrame"></iframe></br>
            </br><h2><i class="fa fa-bed"></i> Accommodation</h2></br>
            <h3>
            Please contact the venue direct on 01443 222716 if you wish to book accomodation or you can book via the <a href="https://llanerch.co.uk">Llanerch website.</a></br>
            </br>Alternatively the <a href="https://www.valeresort.com">Vale Resort</a> is close to the venue.
            <br>
            </h3></br>
            <h2><i class="fa fa-black-tie"></i> Dress Code</h2></br>
            <h3>
            Smart casual, with an emphasis on relaxed. Ties very much optional. 
            <br>
            </h3></br>
            <h2><i class="fa fa-child"></i>Children</h2></br>
            <h3>
            Kindly note that our celebration will be exclusively for adults (except for very close family). We appreciate  your understanding and hope you'll join us in celebrating this special day with joy and style!
            <br>
            </h3>
        </br><h2><i class="fa fa-gift"></i> Gifts</h2></br>
            <h3>
            Enter details about gifts here.
            <br>
            </h3>
        </div>
	<!-- Blog Page end -->

	{% include 'footer.html' %}	
</html>
